{% if collection.metafields.custom_fields["enable_promo_tile"] == 1 or collection.metafields.custom_fields["enable_shop_the_look_tile"] == 1 %}
	{% assign pagination_count = settings.collection_pagination_count | minus: 1 %}
{% else %}
	{% assign pagination_count = settings.collection_pagination_count | plus: 0 %}
{% endif %}

{% if collection.metafields.custom_fields["plp_promotional_text"] != blank %}
	{% assign collection_promo_text = collection.metafields.custom_fields["plp_promotional_text"] %}
	{% assign collection_promo_text_color = collection.metafields.custom_fields["plp_promotional_text_color"] %}
{% endif %}

{% capture init_collection_data %}
	{{ collection | json }}
{% endcapture %}

{% capture init_collection_products %}
	{%- paginate collection.products by pagination_count -%}
	[
		{% for product in collection.products %}
			{%- render 'json--product', product: product -%}
			{%- unless forloop.last -%},{%- endunless -%}
		{% endfor %}
	]
	{%- endpaginate -%}
{% endcapture %}

{% capture filter_types %}
  [
    {% for filter in collection.filters %}
      {
        "label": "{{ filter.label }}",
        "url_param": "{{ filter.param_name }}",
        "values": [
          {% for value in filter.values %}
            {
              "name": "{{ value.value }}",
              "url": "{{ filter.param_name }}={{ value.value | url_encode }}"
            }{%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
        ]
      }{%- unless forloop.last -%},{%- endunless -%}
    {% endfor %}
  ]
{% endcapture %}

{% comment %} Tags are no longer used for filtering, but code was left in case Ylang23 wants to return to it in the future {% endcomment %}
{% capture all_tags %}
	[
		{% for tag in collection.all_tags %}
			{{ tag | json }}
			{%- unless forloop.last -%},{%- endunless -%}
		{% endfor %}
	]
{% endcapture %}

{% capture global_collection_menu %}
	[
		{% for link in linklists[settings.collection_global_linklist].links %}
			{
				"title": {{ link.title | json }},
				"url": "{% if link.type != "http_link" %}{{ shop.url }}{% endif %}{{ link.url }}",
				"links": [
					{% for linkLevel1 in link.links %}
						{
							"title": {{ linkLevel1.title | json }},
							"url": "{% if linkLevel1.type != "http_link" %}{{ shop.url }}{% endif %}{{ linkLevel1.url }}"
						}
						{%- unless forloop.last -%},{%- endunless -%}
					{% endfor %}
				]
			}
			{%- unless forloop.last -%},{%- endunless -%}
		{% endfor %}
	]
{% endcapture %}

{% if collection.metafields.custom_fields["collection_sidebar_linklist"] != blank %}
	{% assign collection_menu = collection.metafields.custom_fields["collection_sidebar_linklist"]%}
{% else %}
	{% assign collection_menu = settings.collection_default_custom_linklist %}
{% endif %}

{% if collection.metafields.custom_fields["collection_sidebar_linklist"] != blank %}
	{% assign collection_menu_title = collection.metafields.custom_fields["collection_sidebar_linklist"] %}
{% else %}
	{% assign collection_menu_title = 'collection menu' %}
{% endif %}

{% capture collection_menu_linklist %}
	[
		{% for link in linklists[collection_menu].links %}
			{
				"title": {{ link.title | json }},
				"url": "{% if link.type != "http_link" %}{{ shop.url }}{% endif %}{{ link.url }}",
				"links": [
					{% for linkLevel1 in link.links %}
						{
							"title": {{ linkLevel1.title | json }},
							"url": "{% if linkLevel1.type != "http_link" %}{{ shop.url }}{% endif %}{{ linkLevel1.url }}"
						}
						{%- unless forloop.last -%},{%- endunless -%}
					{% endfor %}
				]
			}
			{%- unless forloop.last -%},{%- endunless -%}
		{% endfor %}
	]
{% endcapture %}

{% capture promo_tile %}
	{
		{% if collection.metafields.custom_fields["enable_promo_tile"] != blank %}
			"enabled": {{ collection.metafields.custom_fields["enable_promo_tile"] }},
		{% endif %}
		{% if collection.metafields.custom_fields["promo_tile_position"] != blank %}
			"position": {{ collection.metafields.custom_fields["promo_tile_position"] }},
		{% endif %}
		"url": {{ collection.metafields.custom_fields["promo_tile_url"] | json }},
		"bgColor": {{ collection.metafields.custom_fields["promo_tile_bg_color"] | json }},
		"textColor": {{ collection.metafields.custom_fields["promo_tile_text_color"] | json }},
		"imageUrl": {{ collection.metafields.custom_fields["promo_tile_image_url"] | json }},
		"title": {{ collection.metafields.custom_fields["promo_tile_title"] | json }},
		"copy": {{ collection.metafields.custom_fields["promo_tile_copy"] | json }}
	}
{% endcapture %}

{% assign shop_the_look_products = collection.metafields.custom_fields["shop_the_look_tile_products"] | split: "|" %}
{% capture shop_the_look_tile %}
  {
    {% if collection.metafields.custom_fields["enable_shop_the_look_tile"] != blank %}
      "enabled": {{ collection.metafields.custom_fields["enable_shop_the_look_tile"] }},
    {% endif %}
    {% if collection.metafields.custom_fields["shop_the_look_tile_position"] != blank %}
      "position": {{ collection.metafields.custom_fields["shop_the_look_tile_position"] }},
    {% endif %}
    "imageUrl": {{ collection.metafields.custom_fields["shop_the_look_tile_image_url1"] | json }},
    "imageAlt": {{ collection.metafields.custom_fields["shop_the_look_tile_image_alt"] | json }},
    "title": {{ collection.metafields.custom_fields["shop_the_look_tile_title"] | json }},
    "products": [
      {% for shop_the_look_product in shop_the_look_products %}
        {% assign product = all_products[shop_the_look_product] %}
        {
          "id": {{ product.id | json }},
          "handle": {{ product.handle | json }},
          "title": {{ product.title | json }},
          "available": {{ product.available | json }},
          "images": {{ product.images | json }},
          "price": {{ product.price | money_with_currency | json }},
          "compareAtPrice": {{ product.compare_at_price | money_with_currency | json }},
          "compareAtPriceVaries": {{ product.compare_at_price_varies | money_with_currency | json }},
          "vendor": {{ product.vendor | json }},
          "tags": {{ product.tags | json }},
          "selectedOrFirstAvailableVariant": {{ product.selected_or_first_available_variant | json }},
          "featuredImage": {{ product.featured_image | img_url: '261x345' | json }},
          "url": {{ product.url | within: collection | json }},
          "description": {{ product.description | json }}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
{% endcapture %}

{% capture visibility_settings %}
  {
		"sidebarDisabled": {{ settings.disable_collection_sidebar | json }},
		"filtersDisabled": {{ settings.disable_collection_filters | json }},
		"badgesDisabled": {% if collection.metafields.custom_fields.disable_collection_badges == 1 %}true{% else %}false{% endif %}
	}
{% endcapture %}

{% if collection.metafields.custom_fields["toggle_logo_badge"] == 1 %}
	{% assign disable_logo_badge = true %}
{% else %}
	{% assign disable_logo_badge = false %}
{% endif %}

{% capture collection_section_settings %}
	{
		"enableBanner": {{ collection.metafields.custom_fields["enable_banner"] | json }},
		"enableCategoryImages": {{ collection.metafields.custom_fields["enable_category_images"] | json }},
		"enableCategoryLinks": {{ collection.metafields.custom_fields["enable_category_links"] | json }}
	}
{% endcapture %}

{% capture section_banner %}
	{
		"desktopImage": {{ collection.metafields.custom_fields["banner_image_desktop"] | json }},
		"mobileImage": {{ collection.metafields.custom_fields["banner_image_mobile"] | json }},
		"heading": {{ collection.metafields.custom_fields["banner_heading"] | json }},
		"copy": {{ collection.metafields.custom_fields["banner_copy"] | json }},
		"ctaText": {{ collection.metafields.custom_fields["banner_cta_text"] | json }},
		"ctaUrl": {{ collection.metafields.custom_fields["banner_cta_link"] | json }},
		"ctaStyle": {{ collection.metafields.custom_fields["banner_cta_style"] | json }},
		"textColor": {{ collection.metafields.custom_fields["banner_text_color"] | json }},
		"overlayColor": {{ collection.metafields.custom_fields["banner_color_overlay"] | json }},
		"overlayOpacity": {{ collection.metafields.custom_fields["banner_overlay_opacity"] | json }},
		"textAlignment": {{ collection.metafields.custom_fields["banner_text_alignment"] | json }}
	}
{% endcapture %}

{% capture section_category_images %}
		{
			"heading": {{ collection.metafields.custom_fields["category_images_heading"] | json }},
			"images": [
				{% if collection.metafields.custom_fields["section_category_images"] != blank %}
					{% assign separator = "|###|" %}
					{% assign category_image_array = collection.metafields.custom_fields["category_image"] | split: separator %}
					{% assign category_images_url_array = collection.metafields.custom_fields["category_images_url"] | split: separator %}
					{% assign category_images_text_array = collection.metafields.custom_fields["category_images_text"] | split: separator %}
					{% assign fc_keys = collection.metafields.custom_fields["section_category_images"] | split: "," %}
					{% for i in fc_keys %}
						{% assign index = i | plus: 0 %}
						{
							"imageUrl": {{ category_image_array[index] | json }},
							"url": {{ category_images_url_array[index] | json }},
							"text": {{ category_images_text_array[index] | json }}
						}
						{%- unless forloop.last -%},{%- endunless -%}
					{% endfor %}
				{% endif %}
			]
		}
{% endcapture %}

{% capture section_category_links %}
	{
		"heading": {{ collection.metafields.custom_fields["category_links_heading"] | json }},
		"links": [
			{% if collection.metafields.custom_fields["section_category_links"] != blank %}
				{% assign separator = "|###|" %}
				{% assign category_link_array = collection.metafields.custom_fields["category_link"] | split: separator %}
				{% assign category_link_text_array = collection.metafields.custom_fields["category_link_text"] | split: separator %}
				{% assign fc_keys = collection.metafields.custom_fields["section_category_links"] | split: "," %}
				{% for i in fc_keys %}
					{% assign index = i | plus: 0 %}
					{
						"url": {{ category_link_array[index] | json }},
						"text": {{ category_link_text_array[index] | json }}
					}
					{%- unless forloop.last -%},{%- endunless -%}
				{% endfor %}
			{% endif %}
		]
	}
{% endcapture %}

{% capture related_collections %}
	[
		{% if collection.metafields.custom_fields["related_collections"] != blank %}
			{% assign separator = "|###|" %}
			{% assign link_url = collection.metafields.custom_fields["link_url"] | split: separator %}
			{% assign link_text = collection.metafields.custom_fields["link_text"] | split: separator %}
			{% assign fc_keys = collection.metafields.custom_fields["related_collections"] | split: "," %}
			{% for i in fc_keys %}
				{% assign index = i | plus: 0 %}
				{
					"url": {{ link_url[index] | json }},
					"text": {{ link_text[index] | json }}
				}
				{%- unless forloop.last -%},{%- endunless -%}
			{% endfor %}
		{% endif %}
	]
{% endcapture %}

{% capture collection_sections %}
	{
		"settings": {{ collection_section_settings }},
		"banner": {{ section_banner }},
		"categoryImages": {{ section_category_images }},
		"categoryLinks": {{ section_category_links }}
	}
{% endcapture %}

{% capture hero_settings %}
	{
		"backgroundColor": {{ collection.metafields.custom_fields["hero_background_color"] | default: settings.collection_hero_bg_color | json }},
		"headingColor": {{ collection.metafields.custom_fields["hero_heading_color"] | default: settings.collection_hero_heading_color | json }}
	}
{% endcapture %}

<collection-grid
	handle="{{ collection.handle }}"
	:related-collections="{{ related_collections | escape | strip }}"
	:total-products="{{ collection.products_count }}"
	:pagination-amount="{{ pagination_count }}"
	:filters="{{ filter_types | escape | strip }}"
	:tags="{{ all_tags | escape | strip }}"
	:promo-tile="{{ promo_tile | escape | strip }}"
  :shop-the-look-tile="{{ shop_the_look_tile | escape | strip }}"
	:init-collection-data="{{ init_collection_data | escape | strip }}"
	:init-collection-total="{{ collection.all_products_count }}"
	:init-collection-products="{{ init_collection_products | escape | strip }}"
	:global-menu="{{ global_collection_menu | escape | strip }}"
	:collection-menu="{{ collection_menu_linklist | escape | strip }}"
	collection-menu-title="{{ collection_menu_title }}"
	:visibility-settings="{{ visibility_settings | escape | strip }}"
	{% if settings.collection_template == 'b' %}
		{% if collection.handle != 'all' %}
			:collection-sections="{{ collection_sections | escape | strip }}"
		{% endif %}
		:hero-settings="{{ hero_settings | escape | strip }}"
	{% endif %}
	:disable-logo-badge="{{ disable_logo_badge }}"
	collection-template="{{ settings.collection_template }}"
  promo-text="{{ collection_promo_text }}"
  promo-text-color="{{ collection_promo_text_color }}"
>
	{%- for product in collection.products -%}
		<h2>{{ product.title }}</h2>
		<a href="{{ product.url }}">Shop Now</a>
	{%- endfor -%}
</collection-grid>

{% if collection.metafields.custom_fields.seo_block_title and collection.metafields.custom_fields.seo_block_content %}
  {% render 'seo-content' with item: collection %}
{% endif %}
