
{% capture schema_main %}
  {
    "settings": {
      backgroundColor: {{ section.settings.newsletter_bg | json }},
      textColor: {{ section.settings.newsletter_font | json }}
    },
    "blocks": [
      {% for block in section.blocks %}
        {
          "id": {{ block.id | json }},
          "type": {{ block.type | json }},
          {% if block.type == 'logo_block' %}
            "settings": {
              "logo_png": {% if block.settings.logo_png != blank %}{{ block.settings.logo_png | img_url: '170x85' | json }}{% else %}null{% endif %},
              "logo_png_alt": {{ block.settings.logo_png.alt | json }},
              "logo_svg": {{ block.settings.logo_svg | json }},
              "title": {{ block.settings.title | json }},
              "body": {{ block.settings.body | json }}
            }
          {% elsif block.type == 'link_list_block' %}
            {%- assign menu = linklists[block.settings.menu] -%}
            "settings": {
              "menu": {
                "title": {{ menu.title | json }},
                "links": [
                  {% for link in menu.links %}
                    {
                      "title": {{ link.title | json }},
                      "url": {{ link.url | json }}
                    }{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                ]
              }
            }
          {% endif %}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
{% endcapture %}

{% capture schema_contact %}
  {
    "settings": {
      "socialLinks": [
        {% for socialIdx in (1..5) %}
          {% assign socialLinkHandle = 'social_icon_' | append: socialIdx %}
          {% assign socialLink = section.settings[socialLinkHandle] %}
          {% assign socialLinkId = 'social_' | append: socialLink | append: '_link' %}
          {% if settings[socialLinkId] != blank %}
            {
              "id": {{ socialLink | json }},
              "url": {{ settings[socialLinkId] | json }}
            }{% unless forloop.last %},{% endunless %}
          {% endif %}
        {% endfor %}
      ],
    }
  }
{% endcapture %}

{% capture schema_subfooter %}
  {
    "settings": {
      "copyrightText": "Copyright © {{ 'now' | date: "%Y" }} {% if section.settings.copyright_text != blank %}{{ section.settings.copyright_text }}{% else %}{{ shop.name }}{% endif %}",
      "subfooterMenu": {
        {%- assign menu = linklists[section.settings.menu] -%}
        "title": {{ menu.title | json }},
        "links": [
          {% for link in menu.links %}
            {
              "title": {{ link.title | json }},
              "url": {{ link.url | json }}
            }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
      }
    }
  }
{% endcapture %}

<footer-bourdain :footer-align="{{ section.settings.footer_align | json | escape | strip }}" :schema-main="{{ schema_main | escape | strip }}" :schema-contact="{{ schema_contact | escape | strip }}" :schema-subfooter="{{ schema_subfooter | escape | strip }}">
  {{ section.settings.klaviyo_form }}
</footer-bourdain>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Newsletter Section"
      },
      {
        "type": "paragraph",
        "content": "NOTE: To change styling of email signup form, go to Apps > Klaviyo > Signup Forms > Embed Sign Up Form > Edit Form"
      },
      {
        "type": "color",
        "id": "newsletter_bg",
        "label": "Newsletter Background Color"
      },
      {
        "type": "color",
        "id": "newsletter_font",
        "label": "Newsletter Font Color"
      },
      {
        "type": "html",
        "id": "klaviyo_form",
        "label": "Klaviyo Form Snippet",
        "default": "<div class=\"klaviyo-form-RfghH4\"></div>"
      },
      {
        "type": "header",
        "content": "Social Media Icons"
      },
      {
        "type": "select",
        "id": "social_icon_1",
        "label": "Icon 1",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_2",
        "label": "Icon 2",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_3",
        "label": "Icon 3",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_4",
        "label": "Icon 4",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_5",
        "label": "Icon 5",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Subfooter"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copyright Override",
        "info": "Optionally override the storefront name with other text"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Subfooter Links"
      }
    ],
    "blocks": [
      {
        "type": "link_list_block",
        "name": "Link List",
        "limit": 6,
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select a Link List"
          }
        ]
      },
      {
        "type": "logo_block",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_png",
            "label": "Image",
            "info": "If the logo is a png, upload it here."
          },
          {
            "type": "text",
            "id": "logo_svg",
            "label": "SVG URL",
            "info": "Paste a URL for a SVG instead of uploading an image logo"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Body Copy"
          }
        ]
      }
    ]
  }
{% endschema %}
