<div class="password-header">
  {% if section.settings.logo_img != blank %}
    <div class="password-header__logo-wrapper">
      <img class="password-header__logo" src="{{ section.settings.logo_img | img_url: 'x125' }}" alt="section.settings.logo_img.alt" />
    </div>
  {% else %}
    <div class="password-header__title-wrapper">
      <h1 class="h1 password-header__title">{% if section.settings.logo_text != blank %}{{ section.settings.logo_text }}{% else %}{{ shop.name }}{% endif %}</h1>
    </div>
  {% endif %}
  <h2 class="h2 password-header__subtitle">{{ 'general.password_page.opening_soon' | t }}</h1>
</div>

{% unless shop.password_message == blank %}
  <p class="password-page-content body-md">
    {{ shop.password_message }}
  </p>
{% endunless %}

{% form 'customer' %}
  {% if form.posted_successfully? %}
    <ul class="form-success">
      <li>{{ 'general.password_page.signup_form_success' | t }}</li>
    </ul>
  {% else %}
    <p class="subheader">{{ 'general.password_page.signup_form_heading' | t }}</p>
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <div class="input">
      <text-input
        type="email" 
        class="customer-login-input{% if form.errors contains 'email' %} input-error{% endif %}" 
        label="{{ 'general.password_page.signup_form_email_label' | t }}"
        name="contact[email]"
        id="Email"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
      ></text-input>
    </div>
    {% if form.errors %}
      {{ form.errors | default_errors }}
    {% endif %}
    <v-button :secondary="true" :full="true" label="{{ 'general.password_page.signup_form_submit' | t }}"></v-button>
  {% endif %}
{% endform %}

{% if section.settings.enable_social_icons and settings.share_facebook or settings.share_twitter %}
  <p class="subheader">{{ 'general.password_page.spread_the_word' | t }}</p>
  {% include 'social-sharing' %}
{% endif %}

{% if section.settings.enable_login %}
  <v-link @click="(function(){ $refs.passwordModal.open(); })()" :primary="true" href="#Login">{{ 'general.password_page.password_link' | t }}</v-link>
  <modal ref="passwordModal">
    <div slot="content">
      <div class="password-content">
        <h2 class="password__form-heading h4" id="password-modal-heading">
          {{ 'general.password_page.login_form_heading' | t }}
        </h2>
      </div>

      {% form 'storefront_password', class: 'form-single-field' %}
        {%- assign formId = 'PasswordLoginForm' -%}
        <div class="input-group {% if form.errors %}input-group--error{% endif %}">
          <div class="input">
            <text-input
              type="password" 
              class="customer-login-input{% if form.errors %} input-error{% endif %}" 
              label="{{ 'general.password_page.login_form_password_label' | t }}"
              name="password"
              id="Password"
              data-login-field
              autocomplete="off"
              {% if form.errors %}
                data-error="password"
                aria-invalid="true"
              {%- endif -%}
            ></text-input>
          </div>
          <v-button :secondary="true" :full="true" label="{{ 'general.password_page.signup_form_submit' | t }}">
            {{ 'general.password_page.login_form_submit' | t }}
          </v-button>
        </div>
        {%- if form.errors -%}
          <span id="{{ formId }}-password-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            <span>{{ form.errors.messages['form'] }}</span>
          </span>
        {%- endif -%}
      {% endform %}
      <p class="client-generated">{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>
  </modal>
{% endif %}

{% schema %}
  {
    "name": "Password Page",
    "class": "password-container",
    "settings": [
      {
        "type": "paragraph",
        "content": "To change text on page, from your theme navigate to Actions > Edit languages > General > Password page."
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type":      "image_picker",
        "id":        "logo_img",
        "label":     "Logo Image",
        "info":       "If left blank, the store name will show instead"
      },
      {
        "type":      "text",
        "id":        "logo_text",
        "label":     "Sitename Override",
        "info":       "If image is left blank, you can use this field to override the shop name"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "checkbox",
        "id": "enable_login",
        "label": "Enable Password Login",
        "default": true,
        "info": "Disabling this will not allow users to access the site even if they have the password"
      },
      {
        "type": "checkbox",
        "id": "enable_social_icons",
        "label": "Enable Social Icons",
        "default": true
      }
    ]
  }
{% endschema %}