{% capture schema %}
  {
    "settings": {
      "sectionHeader": {{ section.settings.testimonials_section_header | json }},
      "sectionHeaderColor": {{ section.settings.testimonials_header_color | json }},
      "testimonialBackgroundColor": {{ section.settings.testimonials_background_color | json }},
      "textColor": {{ section.settings.testimonials_text_color | json }},
      "defaultQuoteImg": "{{ 'quote_black.png' | asset_img_url: 'master' }}",
      "marginTop": {{ section.settings.margin_top | json }},
      "marginBottom": {{ section.settings.margin_bottom | json }}
    },
    "blocks": [
      {% for block in section.blocks %}
        {
          "id": {{ block.id | json }},
          "type": {{ block.type | json }},
          "settings": {{ block.settings | json }},
          "testimonial_logo_alt": {{ block.settings.testimonial_logo.alt | json }}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
{% endcapture %}

<testimonial-carousel :schema="{{ schema | escape | strip }}" />

{% schema %}
  {
    "name": "Testimonials",
    "max_blocks": 3,
    "settings": [
      {
        "type": "header",
        "content": "Section Margins",
        "info": "Customize the margin spacing on the top and bottom of this section."
      },
      { 
        "label": "Top Padding",
        "id": "margin_top",
        "type": "range",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "default": 56
      },
      { 
        "label": "Bottom Padding",
        "id": "margin_bottom",
        "type": "range",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "default": 56
      },
      { 
        "label": "Section Header",
        "id": "testimonials_section_header",
        "type": "text",
        "default": "Section Header"
      },
      { 
        "label": "Section Header Color",
        "id": "testimonials_header_color",
        "type": "select",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      { 
        "label": "Text Color",
        "id": "testimonials_text_color",
        "type": "select",
        "options": [
          {"label": "Light", "value": "color-white"},
          {"label": "Dark", "value": "color-black"}
        ],
        "default": "color-black"
      },
      { 
        "label": "Block Background Color",
        "id": "testimonials_background_color",
        "type": "select",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-white"
      }
    ],
    "blocks": [
      {
        "name": "Testimonial",
        "type": "testimonial_block",
        "settings": [
          {
            "label": "Logo or Quotation Image",
            "type": "image_picker",
            "id": "testimonial_logo",
            "info": "Recommended size: 386px x 130px"
          },
          {
            "label": "Testimonial",
            "type": "richtext",
            "id": "testimonial_body",
            "default": "<p>&quot;Dark star crashes, pouring its Light into ashes. Reason tatters, the forces tear loose from the axis. Searchlight casting for faults in the clouds of delusion.&quot;</p>"
          },
          {
            "label": "Written By",
            "type": "text",
            "id": "testimonial_source",
            "default": "Jerry Garcia"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Content Blocks"
      }
    ]
  }
{% endschema %}
