<div class="super-collection__hero">
  {% unless page.metafields.custom_fields["hero_image_desktop"] == blank %}
    {% include 'hero' with {
      should_manually_build_urls: true,
      desktop_image: page.metafields.custom_fields["hero_image_desktop"],
      mobile_image: page.metafields.custom_fields["hero_image_mobile"],
      header: page.metafields.custom_fields["hero_header"],
      subheader: page.metafields.custom_fields["hero_subheader"],
      copy: page.metafields.custom_fields["hero_copy"],
      text_color: page.metafields.custom_fields["copy_text_color"],
      overlay_color: page.metafields.custom_fields["overlay_color"],
      overlay_opacity: page.metafields.custom_fields["overlay_opacity"],
      mobile_layout: page.metafields.custom_fields["hero_mobile_layout"],
      text_align: page.metafields.custom_fields["hero_text_align"]
    } %}
  {% endunless %}
</div>

{% assign separator = "|###|" %}

{% assign linear_background = page.metafields.custom_fields.image_linear_background | split: separator %}
{% assign linear_titles_1 = page.metafields.custom_fields.image_tile_title_1 | split: separator %}
{% assign linear_links_1 = page.metafields.custom_fields.image_tile_link_1 | split: separator %}
{% assign linear_images_1 = page.metafields.custom_fields.image_tile_image_1 | split: separator %}
{% assign linear_titles_2 = page.metafields.custom_fields.image_tile_title_2 | split: separator %}
{% assign linear_links_2 = page.metafields.custom_fields.image_tile_link_2 | split: separator %}
{% assign linear_images_2 = page.metafields.custom_fields.image_tile_image_2 | split: separator %}
{% assign linear_titles_3 = page.metafields.custom_fields.image_tile_title_3 | split: separator %}
{% assign linear_links_3 = page.metafields.custom_fields.image_tile_link_3 | split: separator %}
{% assign linear_images_3 = page.metafields.custom_fields.image_tile_image_3 | split: separator %}
{% assign linear_titles_4 = page.metafields.custom_fields.image_tile_title_4 | split: separator %}
{% assign linear_links_4 = page.metafields.custom_fields.image_tile_link_4 | split: separator %}
{% assign linear_images_4 = page.metafields.custom_fields.image_tile_image_4 | split: separator %}
{% assign linear_titles_5 = page.metafields.custom_fields.image_tile_title_5 | split: separator %}
{% assign linear_links_5 = page.metafields.custom_fields.image_tile_link_5 | split: separator %}
{% assign linear_images_5 = page.metafields.custom_fields.image_tile_image_5 | split: separator %}
{% assign linear_titles_6 = page.metafields.custom_fields.image_tile_title_6 | split: separator %}
{% assign linear_links_6 = page.metafields.custom_fields.image_tile_link_6 | split: separator %}
{% assign linear_images_6 = page.metafields.custom_fields.image_tile_image_6 | split: separator %}
{% assign fc_keys = page.metafields.custom_fields.super_collection_linear_images | split: "," %}
{% capture linear_settings %}
  [
    {% for i in fc_keys %}
      {% assign index = i | plus: 0 %}
      {
        "background": {{ linear_background[index] | json }},
        "linearArray": [
          {
            "title": {{ linear_titles_1[index] | json }},
            "url": {% if linear_links_1[index] != blank %}{{ '/collections/' | append: linear_links_1[index] | json }}{% else %}null{% endif %},
            "image": {{ linear_images_1[index] | json }}
          },
          {
            "title": {{ linear_titles_2[index] | json }},
            "url": {% if linear_links_2[index] != blank %}{{ '/collections/' | append: linear_links_2[index] | json }}{% else %}null{% endif %},
            "image": {{ linear_images_2[index] | json }}
          },
          {
            "title": {{ linear_titles_3[index] | json }},
            "url": {% if linear_links_3[index] != blank %}{{ '/collections/' | append: linear_links_3[index] | json }}{% else %}null{% endif %},
            "image": {{ linear_images_3[index] | json }}
          },
          {
            "title": {{ linear_titles_4[index] | json }},
            "url": {% if linear_links_4[index] != blank %}{{ '/collections/' | append: linear_links_4[index] | json }}{% else %}null{% endif %},
            "image": {{ linear_images_4[index] | json }}
          },
          {
            "title": {{ linear_titles_5[index] | json }},
            "url": {% if linear_links_5[index] != blank %}{{ '/collections/' | append: linear_links_5[index] | json }}{% else %}null{% endif %},
            "image": {{ linear_images_5[index] | json }}
          },
          {
            "title": {{ linear_titles_6[index] | json }},
            "url": {% if linear_links_6[index] != blank %}{{ '/collections/' | append: linear_links_6[index] | json }}{% else %}null{% endif %},
            "image": {{ linear_images_6[index] | json }}
          }
        ]
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
{% endcapture %}

{% assign collection_titles = page.metafields.custom_fields.collection_heading | split: separator %}
{% assign collection_collections = page.metafields.custom_fields.collection | split: separator %}
{% assign collection_images = page.metafields.custom_fields.collection_image | split: separator %}
{% assign collection_descriptions = page.metafields.custom_fields.collection_description | split: separator %}
{% assign fc_keys = page.metafields.custom_fields.super_collection_collection_pr | split: "," %}
{% capture collection_settings %}
  {
    "collectionArray": [
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        {
          "title": {{ collection_titles[index] | json }},
          "handle": {{ collection_collections[index] | json }},
          "image": {{ collection_images[index] | json }},
          "description": {{ collection_descriptions[index] | json }}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
{% endcapture %}

{% assign grid1_images = page.metafields.custom_fields.grid1_image | split: separator %}
{% assign grid1_preheaders = page.metafields.custom_fields['grid1_pre-header'] | split: separator %}
{% assign grid1_headers = page.metafields.custom_fields.grid1_header | split: separator %}
{% assign grid1_texts = page.metafields.custom_fields.grid1_text_copy | split: separator %}
{% assign grid1_cta_texts = page.metafields.custom_fields.grid1_cta_text | split: separator %}
{% assign grid1_cta_links = page.metafields.custom_fields.grid1_cta_link | split: separator %}
{% assign grid1_text_colors = page.metafields.custom_fields.grid1_text_color | split: separator %}
{% assign grid1_overlay_colors = page.metafields.custom_fields.grid1_overlay_color | split: separator %}
{% assign grid1_overlay_opacities = page.metafields.custom_fields.grid1_overlay_opacity | split: separator %}
{% assign fc_keys = page.metafields.custom_fields.super_collection_image_grid_1 | split: "," %}
{% capture grid1_settings %}
  {
    "header": {{ page.metafields.custom_fields.grid1_section_header | json }},
    "link_text": {{ page.metafields.custom_fields.grid1_link_text | json }},
    "link_url": {{ page.metafields.custom_fields.grid1_link | json }},
    "cta_style": {{ page.metafields.custom_fields.grid_cta_style | downcase | json }},
    "images": [
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        {
          "image": {{ grid1_images[index] | json }},
          "preheader": {{ grid1_preheaders[index] | json }},
          "header": {{ grid1_headers[index] | json }},
          "text": {{ grid1_texts[index] | json }},
          "cta_text": {{ grid1_cta_texts[index] | json }},
          "cta_link": {{ grid1_cta_links[index] | json }},
          "text_color": {{ grid1_text_colors[index] | downcase | json }},
          "overlay_color": {{ grid1_overlay_colors[index] | downcase | json }},
          "overlay_opacity": {{ grid1_overlay_opacities[index] | json }}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
{% endcapture %}

{% assign grid2_images = page.metafields.custom_fields.grid2_image | split: separator %}
{% assign grid2_preheaders = page.metafields.custom_fields['grid2_pre-header'] | split: separator %}
{% assign grid2_headers = page.metafields.custom_fields.grid2_header | split: separator %}
{% assign grid2_texts = page.metafields.custom_fields.grid2_text_copy | split: separator %}
{% assign grid2_cta_texts = page.metafields.custom_fields.grid2_cta_text | split: separator %}
{% assign grid2_cta_links = page.metafields.custom_fields.grid2_cta_link | split: separator %}
{% assign grid2_text_colors = page.metafields.custom_fields.grid2_text_color | split: separator %}
{% assign grid2_overlay_colors = page.metafields.custom_fields.grid2_overlay_color | split: separator %}
{% assign grid2_overlay_opacities = page.metafields.custom_fields.grid2_overlay_opacity | split: separator %}
{% assign fc_keys = page.metafields.custom_fields.super_collection_image_grid_2 | split: "," %}
{% capture grid2_settings %}
  {
    "header": {{ page.metafields.custom_fields.grid2_section_header | json }},
    "link_text": {{ page.metafields.custom_fields.grid2_link_text | json }},
    "link_url": {{ page.metafields.custom_fields.grid2_link | json }},
    "cta_style": {{ page.metafields.custom_fields.grid_cta_style | downcase | json }},
    "images": [
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        {
          "image": {{ grid2_images[index] | json }},
          "preheader": {{ grid2_preheaders[index] | json }},
          "header": {{ grid2_headers[index] | json }},
          "text": {{ grid2_texts[index] | json }},
          "cta_text": {{ grid2_cta_texts[index] | json }},
          "cta_link": {{ grid2_cta_links[index] | json }},
          "text_color": {{ grid2_text_colors[index] | downcase | json }},
          "overlay_color": {{ grid2_overlay_colors[index] | downcase | json }},
          "overlay_opacity": {{ grid2_overlay_opacities[index] | json }}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
{% endcapture %}

<div class="bg-white">
  <super-collection :linear-settings-array="{{ linear_settings | escape | strip }}" :collection-settings="{{ collection_settings | escape | strip }}" :grid1-settings="{{ grid1_settings | escape | strip }}"  :grid2-settings="{{ grid2_settings | escape | strip }}" />
</div>