
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="{{ settings.color_accent }}">
{% if template contains 'collection' %}
  <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
{% else %}
  <link rel="canonical" href="{{ canonical_url }}" />
{% endif %}

{%- include 'bva-datalayer-head' -%}
{%- include 'gtm-head-script' -%}

{%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
{%- endif -%}

{%- capture seo_title -%}
  {{ page_title }}
  {%- assign escaped_page_title = page_title | escape -%}
  {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
  {%- endunless -%}
{%- endcapture -%}
<title>{{ seo_title | strip }}</title>

{%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
{%- endif -%}

{%- include 'social-meta-tags' -%}

{{ 'bvaccel.css' | asset_url | stylesheet_tag }}
{{ 'bvaccel-app.css' | asset_url | stylesheet_tag }}
{{ 'custom-theme.scss' | asset_url | stylesheet_tag }}

<style>[v-cloak] { opacity: 0; max-height: 100vh; }</style>
<script>
  window.bvaccel = {% render 'json--global' %};
</script>

{%- include 'webpack-setup' -%}

{% include 'scripts--rakuten' %}

<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.append%2CElement.prototype.before%2CElement.prototype.classList%2Cdocument.getElementsByClassName%2Cdocument.querySelector%2CElement.prototype.closest%2CArray.prototype.includes%2CArray.prototype.indexOf%2CArray.prototype.keys%2CArray.prototype.lastIndexOf%2CArray.prototype.map%2CArray.prototype.reduce%2CArray.prototype.reduceRight%2CArray.prototype.some%2CArray.prototype.values%2CArray.prototype.forEach%2CArray.prototype.flatMap%2CArray.prototype.flat%2CArray.prototype.findIndex%2CArray.of%2CArray.prototype.%40%40iterator%2CArray.prototype.copyWithin%2CArray.prototype.every%2CArray.prototype.entries%2CArray.prototype.fill%2CArray.prototype.filter%2CArray.prototype.find%2CArray.isArray%2CArray.from%2CString.prototype.includes%2Csmoothscroll"></script>

